/target/
pom.xml.versionsBackup

# Eclipse and Maven
.classpath
.project
/.apt_generated/
/bin/
# .settings : we need Eclipse settings for code formatter and clean-up rules
target
.cache
dependency-reduced-pom.xml
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.moreunit.prefs
/.settings/org.sonarlint.eclipse.core.prefs

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml

# Others
.DS_Store
*.swp
local
Scripts
.dbeaver*
**/*.log
.directory
venv/

~*
*.lock
*.bak
*.orig
*.old
*.md.html
*.flattened-pom.xml

/test.properties
/google-service-account-key.json
/.apt_generated_tests/
